:host {
	border: 1px solid blueviolet;
	padding: 1rem;
	width: 80%;
	min-height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	border-radius: 1rem;

	margin-bottom: 1rem;

	app-message:nth-of-type(even) {
		text-align: end;
	}

	app-message:nth-of-type(odd) {
		text-align: start;
	}
}